.imgLogo {
    max-width: 10%;
    max-height: 60%;
}

.container-header {
    justify-content: center;
    max-width: 100%;
}

.container-icons {
    max-width: 100%;
    justify-content: end;
}

.header-line {
    background-color: red;
    display: flex;
}

.logo-container {
    display: flex;
}

.options-container {
    display: flex;
}

.container-fluid {
    display: flex;
}

.navbar-nav {
    background-color: red;
    display: inline;
}

.btn-logo {
    background-color: transparent;
}

.header {
    background-color: #588a4d;
}

.input-group {
    display: flex;
    align-items: center;
}

.options{
    text-align: start;
    padding: 10px;
    border: 0;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.options:hover{
    background-color: lightgray;
}

.group-options{
    width: 70%;
    position: absolute;
    z-index: 2;
    top: 41px;
    margin: 0;
    border-radius: 20px;
}

.searchBar{
    width: 70% !important;
    margin: 0px;
}

.filter{
    border-radius: 20px 0 0 20px !important;
}

.searchButton{
    border-radius: 0 20px 20px 0 !important;
}

.search-button {
    background-color: black !important;
    max-width: max-content;
    max-height: max-content;
}

.search-bar {
    max-width: 100%;
    max-height: 40px;
}

.icon-search {
    color: gray;
    width: 26px;
    height: 26px;
}

.input-group-btn {
    align-self: center;
}

.container-icons {
    display: flex;
    justify-content: space-between;
}

.nav-link{
    text-transform: uppercase;
}

.nav-link:hover{
    text-decoration: dashed;
}

.profile { /*diseño de cuadros por categoria*/
    display: inline-block;
    padding: 5px 10px; /* Ajusta el espaciado según sea necesario */
    margin: 5px; /* Espaciado entre los botones */
    background-color:#588a4d;
    border-radius: 50px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    outline: none; /* Elimina el borde de enfoque */
    color: white;
  }