.RegisterScreen{ /*tamaño de la pantalla para que ocupe todo*/
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}

.PreviousText{ /*diseño de titulos*/
    text-align: center;
    color: black; 
}

.ContainerRegister{ /*diseño del borde de todo el container*/
    background-color: white;
    width: 900px;
    padding: 0; /* Elimina el relleno del Container */
    border: 2px solid rgb(12, 150, 21); /* Ancho del borde y color */
    border-radius: 8px; /* Borde redondeado */
}


.TitleBox{ /*Titulo del container*/
    text-align: center;
    background-color:  rgb(12, 150, 21);
    color: white;
    height: 38px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    
}

.LabelBox{ /*posicion del titulo de cada cuadro de texto*/
    margin-left: 40px;
    font-weight: bold;
}

.TextBox{ /*posicion y diseño del cuadro de texto donde se ingresan los datos*/
    width: 350px;
    margin-left: 40px;
    border: 2px solid gray; 
    border-radius: 20px ;
}

.error-message{ /*diseño del mensaje de error*/
    color: red;
    font-size:smaller;
}

.ButtonRegister{ /*diseño del buton para registrar los datos*/
    background-color:  rgb(12, 150, 21);
    border: 2px solid rgb(12, 150, 21);
    margin: 0 auto; 
    display: block;
    border-radius: 20px;
}



