.PreviousText{
    text-align: start;
}

.itineraryButton{
    border-radius: 20px;
    border: 1px solid #588a4d;
    width: 50%;
    padding: 15px 0 15px 0;
    justify-content: center;
    background-color: white;
    color: black;
}

.itineraryButton:hover{
    background-color: #588a4d;
    color: white;
}


#cancelButton{
    border-radius: 20px;
    background-color:  white;
    border: 1px solid rgb(12, 150, 21);
    display: flex;
    color: black;
}

#DaysPicker{
    display: flex;
    align-items: center;
    justify-content: center;
}

#NumberOfDays{
    font-weight: bold;
    font-size: 20px;
}

#Button{
    border-radius: 20px;
    background-color:  #588a4d;
    border: 2px solid rgb(12, 150, 21);
    display: flex;
}

#DayNumberTitle{
    font-size: 50px;
    color: rgb(12, 150, 21);
}

#SelectedBox{
    width: 100px;
    height: 40px;
    
    border-radius: 10px;
}



.DayNumberHeader{
    display: flex;
    flex-direction: row; /* Alinea los elementos horizontalmente en una fila */
    align-items: center; /* Centra verticalmente los elementos en la fila */
    gap: 10px; /* Espacio de 10 píxeles entre los elementos */
}

.ContainerDayItinerary{
    border: 4px solid #ccc;
    border-radius: 23px;
    margin: 5px;
    
}


.TimeImage{
    width: 70px;
    height: 70px;  
    margin-left: 30px;  
}

.TimeTitle{
    display: flex;
    align-items: center;
}

.rptFavorite{
    
    font-size: 40px;
}


