@import "bootstrap/dist/css/bootstrap.min.css";

.card-element:hover{
    opacity: 75%;
    border: solid;
    border-width: 0.5px;
    box-shadow: 8.5px 2.5px 12px 0.5px gray;
}

.card-title-element:hover{
    text-decoration: underline;
}

.card.card-element{
    margin: 1rem;
    border-color: lightgrey;
}

.card-text-element{
    font-size: smaller;
    color: gray;
}

.card.card-photo{
    object-fit: cover !important;
    -o-object-fit: cover;
}