@import "bootstrap/dist/css/bootstrap.min.css";

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}
    
@media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
}

.loginScreen {
    margin: 50px;
    display: flex;
    align-items: center;
}

.imgLogin {
    max-width:120%;
    height: auto;
    object-fit: cover;
    object-position: left;
}

.login {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    object-fit: fill;
}


.login h1 {
    justify-content: center;
    align-items: center;
}

.login span {
    height: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 11px;
    color: purple;
    margin-left: 30px;
    font-weight: bold;
}


.login .loginbuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.login .loginfield {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.form-control{
    border-radius: 100px;
}


.loginfield .form-control:focus {
    box-shadow: none;
    border-color: purple;
    color: purple;
}


.loginfield .form-control {
    border-color: rgb(12, 150, 21);
    border-radius: 100px;
    color: purple;
}


.loginfield .form-label {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    transform: translateY(15px) translateX(-2px) scale(0.85);
    user-select: none;
    color: purple;
    line-height: 1rem;
}

.loginfield #password {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    transform: translateY(15px) translateX(2px) scale(0.85);
    user-select: none;
    color: purple;
    line-height: 1rem;
}

.loginbuttons #login {
    background-color: #588a4d;
    border-radius: 200px;
    border-color: #588a4d;
    color: white;
    align-items: center;
}

.loginbuttons #login:hover {
    background-color: #ffffff;
    border-radius: 200px;
    border-color: #588a4d;
    color: black;
    align-items: center;
}